<div class="page-header">
    <h3 data-bind="html: pageHeader"></h3>
</div>
@*Use a div instead of a form to avoid form submit when clicking on a button.*@
<div data-role="validator">
    <div class="form-group">
        <label for="companyName">Company Name</label>
        <input type="text" id="companyName" class="form-control" data-bind="value: model.companyName" required />
    </div>
    <div class="form-group">
        <label for="phone">Phone</label>
        <input type="text" id="phone" class="form-control" data-bind="value: model.phone" required />
    </div>
    <div class="form-group">
        <div>
            <button class="btn btn-primary" data-bind="click: save">Save</button>
            <button class="btn btn-warning" data-bind="click: cancel">Cancel</button>
        </div>
    </div>
</div>