<div class="page-header">
    <h3>Supplier Search</h3>
</div>
@*Use a div instead of a form to avoid form submit when clicking a button*@
<div class="form-inline" role="form">
    <div class="form-group">
        <label for="supplier-name" class="sr-only">Supplier Name</label>
        <input type="text" 
               id="supplier-name" 
               placeholder="Supplier Name" 
               class="form-control input-sm" 
               data-bind="value: supplierName" />
    </div>
    <button type="button" class="btn btn-sm btn-primary" data-bind="click: search">Search...</button>
    <a href="#/supplier/create" class="btn btn-info btn-sm pull-right">Create New Supplier</a>
</div>
<div id="grid"
     data-role="grid"
     data-bind="source: dataSource"
     data-columns='[
        { field: "companyName", title: "Supplier Name", "width": "300px" },
        { field: "contactName", title: "Contact Name", width: 200 },
        { field: "contactTitle", title: "Contact Title", width: 300 },
        { field: "address", title: "Address", width: 300 }, 
        { field: "city", title: "Citye", width: 100 }, 
        { field: "region", title: "Region" }
    ]'
    data-pageable="{ buttonCount: 5, refresh: true }"
    data-selectable="false"
    data-scrollable="true"
    data-reorderable="true"
    data-resizable="true"
    data-sortable="true">
</div>